* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #gallery {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 50px;
  }
  #gallery img {
    width: 200px;
    height: 160px;
  }
  